/* styles.css

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    margin: 15;
    padding: 10;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    color: cadetblue;
    text-align: center;
}

table {
    width: 100%;
    color: cadetblue;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
} */


body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c4cca9;
  }
  
  .container {
    text-align: center;
  }
  
  h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

  .search-container {
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .game-table {
    border-collapse: collapse;
    width: 90vw;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .game-table th,
  .game-table td {
    padding: 10px;
    border-bottom: 2px solid #ddd; /* Mengubah ketebalan garis menjadi 2px */
    border-right: 2px solid #ccc; /* Garis vertikal */
    text-align: left;
    
  }
  
  .game-table th {
    text-align: center;
    color: rgb(63, 109, 53);
    background-color: #f2f2f2;
  }
  